<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
            <td th:text="${board.name}"></td>
            <td th:text="*{#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${board.views}"></td>
        </tr>
    </table>
    <button onclick="writeBoard()">글작성</button>
</body>
<script>
    function writeBoard(){
        location.href="/board/write";
    }
</script>
</html>