<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>Pension - HTML Template by WowThemes.net</title>
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:300,400,700,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/animations.css">
<link rel="stylesheet" href="style.css">
<!--  Js -->
<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/jquery-2.1.3.min.js"></script>
</head>
<body>
<!-- NAVIGATION -->
<nav>
<!-- logo -->
<div class="logo-box">
	<a href="index.html" class="logo logo-img">
	<img src="assets/img/logo.png" alt="logo">
	</a>
</div>
<!-- mobile -->
<button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
<span class="lines"></span>
</button>
<!-- Menu -->
<div class="menu-box my-scrollbar">
	<div id="dl-menu" class="dl-menuwrapper">
		<ul class="dl-menu dl-menuopen">
			<li><a href="index.html">home</a></li>
			<li><a href="index-detail.html">about</a></li>
			<li><a href="rooms.html">rooms</a></li>
			<li><a href="events.html">events</a></li>
			<li><a href="blog.html">blog</a></li>
			<li><a href="contact.html">contact</a></li>
			<li class="submenu"><a href="#">pages</a>
			<ul class="sub-menu">
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<li><a href="rooms-single.html">Room Single</a></li>
				<li><a href="events-single.html">Event Single</a></li>
				<li><a href="blog-single.html">Blog Single</a></li>
				<li class="submenu "><a href="#">Interface</a>
				<ul class="sub-menu">
					<li><a href="elements.html">elements</a></li>
					<li><a href="columns.html">columns</a></li>
				</ul>
				</li>
			</ul>
			</li>
		</ul>
	</div>
</div>
<!-- End Menu -->
<footer class="footer">
<ul class="social-icons">
	<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-yelp"></i></a></li>
</ul>
<div class="copyright">
	 &copy; 2016 <a href="index.html">Pension</a>.
</div>
</footer>
</nav>
<!-- end: NAVIGATION -->
<!-- PAGE-WRAPPER -->
<div class="page-wrapper">
	<div id="device" class="">
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/33.jpg" alt="">
			<figcaption>
			<div>
				<h2>Join nature, forget everything</h2>
			</div>
			<div>
				<h3>Life Stories, People</h3>
				<h3>Read more</h3>
			</div>
			</figcaption>
			</figure>
			</a>
		</div>
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/34.jpg" alt="">
			<figcaption>
			<div>
				<h2>Fresh air, healthy life and more</h2>
			</div>
			<div>
				<h3>Nature</h3>
				<h3>Read More</h3>
			</div>
			</figcaption>
			</figure>
			</a>
		</div>
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/35.jpg" alt="">
			<figcaption>
			<div>
				<h2>Our Memories @ Pension</h2>
			</div>
			<div>
				<h3>Nature</h3>
				<h3>Read more</h3>
			</div>
			</figcaption>
			</figure>
			</a>
		</div>
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/36.jpg" alt="">
			<figcaption>
			<div>
				<h2>Why Camping is Refreshing</h2>
			</div>
			<div>
				<h3>Life Stories, People</h3>
				<h3>Read more</h3>
			</div>
			</figcaption>
			</figure>
			</a>
		</div>
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/37.jpg" alt="">
			<figcaption>
			<div>
				<h2>Easter Break at Pension</h2>
			</div>
			<div>
				<h3>Nature</h3>
				<h3>Read More</h3>
			</div>
			</figcaption>
			</figure>
			</a>
		</div>
		<div class="item">
			<a href="blog-single.html">
			<figure class="blogbox">
			<img src="assets/img/38.jpg" alt="">
			<figcaption>
			<div>
				<h2>Relaxing Nature and its importance</h2>
			</div>
			<div>
				<h3>Gallery</h3>
				<h3>Read more</h3>
			</div>
			</figcaption>
			</figure>
		  </a>
		</div>
	</div>
	<div class="pagination pagination-1">
		<ul>
			<li>
			<a href="#" class="prev">
			<i class="fa fa-angle-double-left"></i>
			</a>
			</li>
			<li>
			<a href="#" class="first">
			<i class="fa fa-angle-left"></i>
			</a>
			</li>
			<li>
			<a href="#">1</a>
			</li>
			<li class="current">
			<a href="#">2</a>
			</li>
			<li>
			<a href="#">3</a>
			</li>
			<li>
			<a href="#">4</a>
			</li>
			<li class="next">
			<a href="#">
			<i class="fa fa-angle-right"></i>
			</a>
			</li>
			<li class="end">
			<a href="#">
			<i class="fa fa-angle-double-right"></i>
			</a>
			</li>
		</ul>
	</div>
	<!-- FOOTER Section -->
	<div class="bottomfooter">
		<div class="col-md-4">
			 © Template by <a href="https://www.wowthemes.net/premium-themes-templates/">WowThemes.net</a>
		</div>
		<div class="col-md-4">
			<i class="fa fa-phone"></i> Book Now 202-555-0114<br/>
			<i class="fa fa-envelope"></i> <a href="mailto:donotsendthisemail@gmail.com">hello@pension.com</a>
		</div>
		<div class="col-md-4">
			<i class="fa fa-map-marker"></i>
			940 North Georgia, Blue Ridge<br/>
			Mountain Resorts Cabin
		</div>
		<div class="clearfix">
		</div>
	</div>
</div>
<!-- end: PAGE-WRAPPER -->
<!-- PLUGIN SCRIPTS -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/functions.js"></script>
<script src="assets/js/pension.js"></script>
<script src="assets/js/jquery.grid-a-licious.js"></script>
</body>
</html>
