<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>Pension - HTML Template by WowThemes.net</title>
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:300,400,700,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/animations.css">
<link rel="stylesheet" href="style.css">
<!--  Js -->
<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/jquery-2.1.3.min.js"></script>
</head>
<body>
<!-- NAVIGATION -->
<nav>
<!-- logo -->
<div class="logo-box">
	<a href="index.html" class="logo logo-img">
	<img src="assets/img/logo.png" alt="logo">
	</a>
</div>
<!-- mobile -->
<button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
<span class="lines"></span>
</button>
<!-- Menu -->
<div class="menu-box my-scrollbar">
	<div id="dl-menu" class="dl-menuwrapper">
		<ul class="dl-menu dl-menuopen">
			<li><a href="index.html">home</a></li>
			<li><a href="about.html">about</a></li>
			<li><a href="rooms.html">rooms</a></li>
			<li><a href="events.html">events</a></li>
			<li><a href="blog.html">blog</a></li>
			<li><a href="contact.html">contact</a></li>
			<li class="submenu"><a href="#">pages</a>
			<ul class="sub-menu">
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<li><a href="rooms-single.html">Room Single</a></li>
				<li><a href="events-single.html">Event Single</a></li>
				<li><a href="blog-single.html">Blog Single</a></li>
				<li class="submenu "><a href="#">Interface</a>
				<ul class="sub-menu">
					<li><a href="elements.html">elements</a></li>
					<li><a href="columns.html">columns</a></li>
				</ul>
				</li>
			</ul>
			</li>
		</ul>
	</div>
</div>
<!-- End Menu -->
<footer class="footer">
<ul class="social-icons">
	<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-yelp"></i></a></li>
</ul>
<div class="copyright">
	 &copy; 2016 <a href="index.html">Pension</a>.
</div>
</footer>
</nav>
<!-- end: NAVIGATION -->
<!-- PAGE-WRAPPER -->
<div class="page-wrapper">
	<header class="page-header full-image-background" style="background-image:url(assets/img/15.jpg);">
	<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1">
			<div class="text-center">
				<h2 class="white">July 20, 2016 - 4 Comments</h2>
			</div>
			<div class="header-intro">
				How spending you weekend far from the city helps
			</div>
		</div>
	</div>
	</header>
	<div class="container padding-bottom-50">
		<div class="row">
			<div class="col-md-8">
				<blockquote>
					 Sed augue feugiat, accumsan quam vitae, mollis quam. Praesent ultrices purus nec sollicitudin hendrerit. Donec vel ex mauris. Aliquam pharetra arcu in purus elementum venenatis. Praesent et nibh tristique, posuere justo placerat, scelerisque orci.
				</blockquote>
				<p>
					 Sed augue feugiat, accumsan quam vitae, mollis quam. Praesent ultrices purus nec sollicitudin hendrerit. Donec vel ex mauris. Aliquam pharetra arcu in purus elementum venenatis. Praesent et nibh tristique, posuere justo placerat, scelerisque orci.
				</p>
				<p>
					 Sed augue feugiat, accumsan quam vitae, mollis quam. Praesent ultrices purus nec sollicitudin hendrerit. Donec vel ex mauris. Aliquam pharetra arcu in purus elementum venenatis. Praesent et nibh tristique, posuere justo placerat, scelerisque orci.
				</p>
				<div class="postmeta">
					<b>Author</b>: Samuel Carlton<br/>
					<b>Categories</b>: friends, mountain, love, cabin<br/>
					<b>Tags</b>: stories, nature, gallery
				</div>
				<h5 class="margin-top-40"><i class="fa fa-comments"></i> 4 COMMENTS</h5>
				<ul id="comments-list" class="comments-list">
					<li>
					<div class="comment-main-level">
						<div class="comment-avatar">
							<img src="assets/img/avatar.jpeg" alt="">
						</div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="#">William Montgomery</a></h6>
								<span>Jan 26, 2016</span>
								<i class="fa fa-reply"></i>
							</div>
							<div class="comment-content">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
					<ul class="comments-list reply-list">
						<li>
						<div class="comment-avatar">
							<img src="assets/img/avatar.jpeg" alt="">
						</div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name"><a href="#">Joshua Lewis</a></h6>
								<span>Feb 24, 2016</span>
								<i class="fa fa-reply"></i>
							</div>
							<div class="comment-content">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
						</li>
						<li>
						<div class="comment-avatar">
							<img src="assets/img/avatar.jpeg" alt="">
						</div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="#">Violet Arnwine</a></h6>
								<span>May 20, 2015</span>
								<i class="fa fa-reply"></i>
							</div>
							<div class="comment-content">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
						</li>
					</ul>
					</li>
					<li>
					<div class="comment-main-level">
						<div class="comment-avatar">
							<img src="assets/img/avatar.jpeg" alt="">
						</div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name"><a href="#">Caroline Napier</a></h6>
								<span>Jun 29, 2016</span>
								<i class="fa fa-reply"></i>
							</div>
							<div class="comment-content">
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</div>
					</li>
				</ul>
				<h5 class="margin-top-40"><i class="fa fa-pencil"></i> LEAVE A COMMENT</h5>
				<div class="commentform">
					<div class="row">
						<div class="col-md-12">
							<textarea id="comment" placeholder="Comment"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<input id="name" type="text" placeholder="Name">
						</div>
						<div class="col-md-4">
							<input id="mail" type="text" placeholder="E-mail">
						</div>
						<div class="col-md-4">
							<input id="website" type="text" placeholder="Website">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 sidebar">
				<div class="widget">
					<h2>About Us</h2>
					 We're so happy and grateful that you have chosen us for your next vacation; we promise you will have a time to remember!
				</div>
				<div class="widget">
					<h2>Recent Posts</h2>
					<ul class="unstyle doublearrowlist">
						<li>Great Location</li>
						<li>All facilities</li>
						<li>Breakfast</li>
						<li>Baby Sitting</li>
						<li>Restaurant</li>
						<li>Camping</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER Section -->
	<div class="bottomfooter">
		<div class="col-md-4">
			 © Template by <a href="https://www.wowthemes.net/premium-themes-templates/">WowThemes.net</a>
		</div>
		<div class="col-md-4">
			<i class="fa fa-phone"></i> Book Now 202-555-0114<br/>
			<i class="fa fa-envelope"></i> <a href="mailto:donotsendthisemail@gmail.com">hello@pension.com</a>
		</div>
		<div class="col-md-4">
			<i class="fa fa-map-marker"></i>
			940 North Georgia, Blue Ridge<br/>
			Mountain Resorts Cabin
		</div>
		<div class="clearfix">
		</div>
	</div>
</div>
<!-- end: PAGE-WRAPPER -->
<!-- PLUGIN SCRIPTS -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/functions.js"></script>
<script src="assets/js/pension.js"></script>
</body>
</html>
