<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<title>환율, 여행 사이트</title>
<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:300,400,700,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- Styles -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/animations.css">
<link rel="stylesheet" href="/assets/css/style.css">
<!--  Js -->
<script src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/jquery-2.1.3.min.js"></script>
</head>
<body>
<!-- NAVIGATION -->
<nav>
<!-- logo -->
<div class="logo-box">
	<a href="index.html" class="logo logo-img">
	<img src="/assets/img/logo.png" alt="logo">
	</a>
</div>
<!-- mobile -->
<button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
<span class="lines"></span>
</button>
<!-- Menu -->
<div class="menu-box my-scrollbar">
	<div id="dl-menu" class="dl-menuwrapper">
		<ul class="dl-menu dl-menuopen">
			<li><a href="index.html">home</a></li>
			<li><a href="about.html">about</a></li>
			<li><a href="rooms.html">rooms</a></li>
			<li><a href="events.html">events</a></li>
			<li><a href="blog.html">blog</a></li>
			<li><a href="contact.html">contact</a></li>
			<li class="submenu"><a href="#">pages</a>
			<ul class="sub-menu">
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<li><a href="rooms-single.html">Room Single</a></li>
				<li><a href="events-single.html">Event Single</a></li>
				<li><a href="blog-single.html">Blog Single</a></li>
				<li class="submenu "><a href="#">Interface</a>
				<ul class="sub-menu">
					<li><a href="elements.html">elements</a></li>
					<li><a href="columns.html">columns</a></li>
				</ul>
				</li>
			</ul>
			</li>
		</ul>
	</div>
</div>
<!-- End Menu -->
<footer class="footer">
<ul class="social-icons">
	<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
	<li><a href="#" target="_blank"><i class="fa fa-yelp"></i></a></li>
</ul>
<div class="copyright">
	 &copy; 2016 <a href="index.html">Pension</a>.
</div>
</footer>
</nav>
<!-- end: NAVIGATION -->
<!-- PAGE-WRAPPER -->
<div class="page-wrapper">
	<!-- SLIDER section -->
	<div class="Modern-Slider">
		<!-- Item -->
		<div class="item">
			<div class="img-fill">
				<img src="/assets/img/1.jpg" alt="">
				<div class="info">
					<div class="container">
						<span class="line-1">Exchange</span>
						<h1 class="line-2">Woojeong</h1>
						<span class="line-3">Exchange Travel</span>
					</div>
				</div>
			</div>
		</div>
		<!-- // Item -->
		<!-- Item -->
		<div class="item">
			<div class="img-fill">
				<img src="/assets/img/2.jpg" alt="">
				<div class="info">
					<div class="container">
						<span class="line-1">USA Exchange</span>
						<h1 class="line-2">USA</h1>
						<span class="line-3" id="USDrate">0000.00</span>
					</div>
				</div>
			</div>
		</div>
		<!-- // Item -->
		<!-- Item -->
		<div class="item">
			<div class="img-fill">
				<img src="/assets/img/8.jpg" alt="">
				<div class="info">
					<div class="container">
						<span class="line-1">Europe Exchange</span>
						<h1 class="line-2">Europe</h1>
						<span class="line-3" id="EURrate">0000.00</span>
					</div>
				</div>
			</div>
		</div>
		<!-- // Item -->
		<div class="item">
			<div class="img-fill">
				<img src="/assets/img/1.jpg" alt="">
				<div class="info">
					<div class="container">
						<span class="line-1">Japan Exchange</span>
						<h1 class="line-2">Japan</h1>
						<span class="line-3" id="JPYrate">0000.00</span>
					</div>
				</div>
			</div>
		</div>
		<!-- // Item -->
		<!-- Item -->
		<div class="item">
			<div class="img-fill">
				<img src="/assets/img/2.jpg" alt="">
				<div class="info">
					<div class="container">
						<span class="line-1">China Exchange</span>
						<h1 class="line-2">China</h1>
						<span class="line-3" id="CNHrate">0000.00</span>
					</div>
				</div>
			</div>
		</div>
		<!-- // Item -->
	</div>
</div>
<script>
	$(document).ready(function (){
		get_rate();
	})

	function get_rate() {
		const today = new Date();
		const year = today.getFullYear();
		const month = (today.getMonth() + 1).toString().padStart(2,"0");
		const day = today.getDate().toString().padStart(2,"0");
		const rateDate = `${year}${month}${day}`;

		$.ajax({
			type: "GET",
			url: "/api/exchange-rates",
			data: {
				date: rateDate
			},
			success: function (response) {
				// API 응답의 배열 구조를 확인하고, 미국 달러 환율을 찾아서 표시합니다.
				let usdRate = response.find(rateInfo => rateInfo.cur_unit === "USD");
				let eurRate = response.find(rateInfo => rateInfo.cur_unit === "EUR");
				let jpyRate = response.find(rateInfo => rateInfo.cur_unit === "JPY(100)");
				let cnhRate = response.find(rateInfo => rateInfo.cur_unit === "CNH");
				if (usdRate) {
					$("#USDrate").text(usdRate.ttb+" 원");
				}
				if(eurRate) {
					$("#EURrate").text(eurRate.ttb+" 원");
				}
				if(jpyRate) {
					$("#JPYrate").text(jpyRate.ttb+" 원");
				}
				if(cnhRate) {
					$("#CNHrate").text(cnhRate.ttb+" 원");
				}
			},
			error: function (error) {
				console.error("Error fetching the exchange rate:", error);
				$("#USDrate").text("안나와 안나온다고");
			}
		})
	}
</script>
<!-- end: PAGE-WRAPPER -->
<!-- SCRIPTS -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/pension.js"></script>
<script src="/assets/js/homeslider.js"></script>
<script src="/assets/js/jquery.grid-a-licious.js"></script>
</body>
</html>
